{% extends 'base/base.html' %}
{% load static %}

{% block 'content' %}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
            <h4 class="mb-sm-0">Orders</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Ecommerce</a>
                </li>
                <li class="breadcrumb-item active">Orders</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-lg-12">
          <div class="card" id="orderList">
            <div class="card-header border-0">
              <div class="row align-items-center gy-3">
                <div class="col-sm">
                  <h5 class="card-title mb-0">Delivery History</h5>
                </div>
                <div class="col-sm-auto">
                  <div class="flex-shrink-0">
                    <div class="dropdown card-header-dropdown">
                      <div class="date-range-picker">
                        <form method="get" class="d-flex" style="gap: 5px; justify-content: center; align-items: center;">
                          <label for="start-date" class="form-label m-0">From: </label>
                          <input type="date" id="start-date" class="form-control" name="start-date" value="{{ start_date_i }}">
                          <label for="end-date" class="form-label m-0">To: </label>
                          <input type="date" id="end-date" class="form-control" name="end-date" value="{{ end_date_i }}">
                          <button type="submit" id="submit-dates" class="btn btn-info">Filter</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-auto">
                  <div class="d-flex gap-1 flex-wrap">
                    <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal">
                      <i class="ri-add-line align-bottom me-1"></i> Add Delivery
                    </button>
                    <button type="button" class="btn btn-info" id="dwnldBtn">
                      <i class="ri-file-download-line align-bottom me-1"></i> Import
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <ul class="nav nav-tabs nav-tabs-custom nav-success mb-3" role="tablist"></ul>

                <div class="table-responsive table-card mb-1">
                  <table class="table table-nowrap align-middle" id="orderTable">
                    <thead class="text-muted table-light">
                      <tr class="text-uppercase">
                        <th scope="col" style="width: 25px">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll" value="option" />
                          </div>
                        </th>
                        <th data-sort="id">Delivery ID</th>
                        {% if admin %}
                        <th data-sort="customer_name">User</th>
                        {% endif %}
                        <th data-sort="customer_name">Service</th>
                        <th data-sort="customer_name">Burreau</th>
                        <th data-sort="date">Delivery Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="list form-check-all">
                      {% for delivery in deliveries %}
                      <tr>
                        <td scope="row">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="checkAll" value="option1" />
                          </div>
                        </td>
                        <td class="id">
                          <a href="{% url 'delivery' delivery.did %}" class="fw-medium link-primary">#{{ delivery.did }}</a>
                        </td>
                        {% if admin %}
                        <td class="customer_name">
                          {% if request.user == delivery.user %}
                          Vous
                          {% else %}
                          {{ delivery.user }}
                          {% endif %}
                        </td>
                        {% endif %}
                        <td class="customer_name">{{ delivery.service }}</td>
                        <td class="customer_name">{{ delivery.post }}</td>
                        <td class="date">{{ delivery.date|date:"d M Y" }}</td>
                        <td>
                          <ul class="list-inline hstack gap-2 mb-0">
                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" aria-label="View" data-bs-original-title="View">
                              <a href="{% url 'delivery' delivery.did %}" class="text-primary d-inline-block">
                                <i class="ri-eye-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                              <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                <i class="ri-pencil-fill fs-16"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td colspan="7" class="text-center">No deliveries found.</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="noresult" style="display: none">
                    <div class="text-center">
                      <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width: 75px; height: 75px"></lord-icon>
                      <h5 class="mt-2">Sorry! No Result Found</h5>
                      <p class="text-muted">
                        We've searched more than 150+ Orders We did not find any orders for your search.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>

<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">&nbsp;</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
      </div>
      <form class="tablelist-form" autocomplete="off" action="{% url 'add_delivery' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3">
            <div class="row my-4" id="prod-form">
              <div class="col-8">
                <label for="payment-field" class="form-label">Article</label>
                <select class="form-control product-select" name="product">
                  <option value="" selected disabled>Article</option>
                  {% for product in products %}
                  <option value="{{ product.title }}" data-quantity="{{ product.quantity }}" data-product-id="{{ product.id }}">
                    ({{ product.pid }}) {{ product.title }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-4">
                <label for="" class="form-label">Quantity</label>
                <div class="d-flex p-0 m-0 flex-row gap-3">
                  <div class="col py-1 text-center align-items-center justify-content-center">
                    <a class="btn rounded-circle border-dark bx bx-minus p-1 btn-reduce" id="reduce"></a>
                  </div>
                  <div class="text-center justify-content-center align-items-center">
                    <div class="my-0 mx-0" style="width: fit-content !important;">
                      <input type="number" value="10" name="quantity" class="form-control text-center px-1 quantity-input" id="stocks-input" placeholder="Enter quantity" required style="max-width: fit-content !important;">
                      <div class="invalid-feedback">Please Enter a product stocks.</div>
                    </div>
                  </div>
                  <div class="col text-center justify-content-center align-items-center py-1">
                    <a class="btn rounded-circle border-dark bx bx-plus p-1 btn-add" id="add"></a>
                  </div>
                </div>
              </div>
              <p class="m-2 p-0 stock-info" style="font-size: 12px;">
                Quantités en stock : <span class="stock-quantity"></span> 
                <span class="text-dark">|</span> 
                Quantités restante : <span class="remaining-quantity"></span>
              </p>
            </div>
            <div id="form-box"></div>
            <div class="row">
              <div class="mt-3">
                <a class=" btn border-success text-success" style="cursor: pointer" onclick="dupliquerElement()">Add another product to the delivery</a>
              </div>
            </div>
          </div>
          <div class="row gy-4 mb-3">
            <div class="col-12">
              <label for="post-field" class="form-label">Delivery Code</label>
              <input type="text" name="code" class="form-control">
            </div>
          </div>
          <div class="row gy-4 mb-3">
            <div class="col-md-6">
              <div>
                <label for="service-field" class="form-label">Service</label>
                <select id="id_service" class="form-control" name="service" required="">
                  <option value="">Service</option>
                  {% for service in services %}
                  <option value="{{ service.title }}">
                    {{ service.title }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <label for="post-field" class="form-label">Bureau</label>
                <input type="text" name="post" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" id="add-btn">Add Order</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function dupliquerElement() {
    var elementA = document.getElementById("prod-form");
    var cloneElement = elementA.cloneNode(true);
    var conteneurElements = document.getElementById("form-box");
    conteneurElements.appendChild(cloneElement);

    // Ajout des écouteurs d'événements pour le nouvel élément dupliqué
    attachEventListeners(cloneElement);
  }

  function attachEventListeners(element) {
    // Réduit la quantité
    element.querySelector('.btn-reduce').addEventListener('click', function() {
      var qttyinput = element.querySelector('.quantity-input');
      if (+qttyinput.value > 0) {
        qttyinput.value = +qttyinput.value - 1;
        updateRemainingQuantity(element);
      }
    });

    // Augmente la quantité
    element.querySelector('.btn-add').addEventListener('click', function() {
      var qttyinput = element.querySelector('.quantity-input');
      qttyinput.value = +qttyinput.value + 1;
      updateRemainingQuantity(element);
    });

    // Met à jour la quantité restante lorsque l'utilisateur modifie directement la quantité
    element.querySelector('.quantity-input').addEventListener('input', function() {
      updateRemainingQuantity(element);
    });

    // Met à jour les quantités lorsque l'utilisateur sélectionne un produit
    element.querySelector('.product-select').addEventListener('change', function() {
      var selectedOption = this.options[this.selectedIndex];
      var stockQuantity = parseInt(selectedOption.getAttribute('data-quantity'));
      element.querySelector('.stock-quantity').textContent = stockQuantity;
      updateRemainingQuantity(element);
    });
  }

  function updateRemainingQuantity(element) {
    var qttyinput = element.querySelector('.quantity-input');
    var stockQuantity = parseInt(element.querySelector('.stock-quantity').textContent);
    var remainingQuantity = stockQuantity - parseInt(qttyinput.value);

    element.querySelector('.remaining-quantity').textContent = remainingQuantity;
  }

  $(document).ready(function () {
    $("#id_service").change(function () {
      var service_id = $(this).val();
      $("#id_post").empty();
      if (service_id) {
        $.ajax({
          url: "/get_posts/",
          data: { service_id: service_id },
          dataType: "json",
          success: function (data) {
            $.each(data.posts, function (key, value) {
              $("#id_post").append(
                $("<option>").text(value).attr("value", key)
              );
            });
          },
        });
      }
    });

    // Attache les écouteurs d'événements pour l'élément de formulaire initial
    attachEventListeners(document.getElementById("prod-form"));
  });
</script>

{% endblock %}
